.header {
	background: hsl(206, 93%, 73%);
	display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

body {
	background: hsl(216, 33%, 97%);
	color:hsl(210, 24%, 16%);
	margin: 0;
	font-family: "Open Sans";
}

.about {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.staff {
	background: hsl(206, 93%, 73%);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.person {

}