.headerImg {
    height: 100%
    width: auto;
}

.header {
    background: hsl(206, 93%, 73%);
    display: flex;
    align-items: center;
    height: 400px;
    justify-content: space-around;
}

    /*background: hsl(206, 93%, 73%);
    display: flex;
    align-items: center;
    height: 400px;
    justify-content: space-around;*/
body {
    background: hsl(216, 33%, 97%);
    color: hsl(210, 24%, 16%);
    font-family: "Open Sans";
    margin: 0;
}
    /*background: hsl(216, 33%, 97%);
    color: hsl(210, 24%, 16%);
    font-family: "Open Sans";
    margin: 0;*/

.about-dreams {
    list-style-type: disc;
}

.about {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
}

.staff {
    background: hsl(206, 93%, 73%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 30px;
}

.person {
    background: hsl(216, 33%, 97%);
    border-radius: 6px;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    width: 30vw;
}
